body {
	background-color: #F9F9F9;
}

.cell {
	cursor: pointer;
	border: .25vw solid #303030;
	float: left;
	height: 10.5vw;
	width: 10.5vw;
	background-color: #F9F9F9;
	position: relative;
}

.board {
	position: absolute;
	width: 33vw;
	height: 33vw;
	margin: auto;
	top: 0; right: 0;
	left: 0; bottom: 0;
	clip-path: inset(1vw);
} 

#btns {
	float: right;
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media screen and (max-width: 500px) {

	.cell {
		border: .45vw solid #303030;
		height: 14vw;
		width: 14vw;
	}

	.board {
		height: 45vw;
		width: 45vw;
		clip-path: inset(2vw);
	}
	
	svg {
		height: 11vw !important;
		width: 11vw !important;
		margin: 1.5vw !important;
	}
	
}

.slash {
	stroke-dasharray: 200;
	stroke-dashoffset: 200;
}

.circle {
	stroke-dasharray: 450;
	stroke-dashoffset: 450;
}

svg {
	position: absolute;
	margin: .75vw;
	height: 9vw;
	width: 9vw;
}

@keyframes draw {
	to {
		stroke-dashoffset: 0;
	}
}